<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--ejemplo conexion hoja de estilo-->
    {% load static %}
  <link rel="stylesheet" href="{%static 'css/estilos.css'%}">
</head>
<body>
 <!--Encabezado-->
 <header class="container-fluid bg-dark d-flex justify-content-center">
    <p class="text-light mb-0 p-2 fs-6">Contactanos +56 9 8765 4321</p>
</header>
   
   <!--NavBar-->
   <nav class="navbar navbar-expand-lg navbar-light bg-light p-3" id="menu">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <span class="text-dark fs-5 fw-bold">CAOS NEWS </span>
        </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
          <!--Lista-->
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Inicio</a>
          
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'form_crear' %}">Registrarse</a>
          
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'crud' %}">CRUD</a>
          
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="http://127.0.0.1:8000/admin">Administrador</a>
          
          </li>

      </ul>
  
      </div>
      </div>
    </nav>

  <div class="linea"></div>


  <br>
  <br>
  <br>
    <div class="container">
        <div class="row">
            <h1>Registro de Colaboradores</h1>
        </div>

        <div class="row">
            <div class="row">
                <form method="POST" action="#" id="formulario">
                    {%csrf_token%}
                    <div class="form-group">
                        {{persona_form.rut.label}}
                        {{persona_form.rut}}
                    </div>
                    <br>
                    <div class="form-group">
                        {{persona_form.nombre.label}}
                        {{persona_form.nombre}}
                    </div>
                    <br>
                    <div class="form-group">
                        {{persona_form.telefono.label}}
                        {{persona_form.telefono}}
                    </div>
                    <br>
                    <div class="form-group">
                        {{persona_form.direccion.label}}
                        {{persona_form.direccion}}
                    </div>
                    <br>
                    <div class="form-group">
                      {{persona_form.email.label}}
                      {{persona_form.email}}
                  </div>
                  <br>
                    <div class="form-group">
                      {{persona_form.pais.label}}
                      {{persona_form.pais}}
                  </div>
                  <br>
                    <div class="form-group">
                      {{persona_form.contraseña.label}}
                      {{persona_form.contraseña}}
                  </div>
                    <br>
                    <br>
                    <div class="form-group">
                         <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
  </div>
  
  

<br>
<br>
<br>
<br>
<br>
<br>
<br>


  
     <!--Pie de Pagina (Footer)-->

  <footer class="w-100 d-flex align-items-center justify-content-center flex-wrap">
    <p class="fs-5 px-3 pt-3">Constructora FS. - Matias Soto &copy; Derechos Reservados 2021</p>
  </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>
